$main-font-family: "Inter-Regular", sans-serif;
$inter-regular: "Inter-Regular", sans-serif;

$gilroy-semibold: "Gilroy-Semibold", sans-serif;
$gilroy-bold: "Gilroy-Bold", sans-serif;

$basic-font-size: 16px;
$primary-color-font: #5e606a;
$desktop-width: 1170px;
$laptop-width: 992px;
$tablet-width: 750px;
$mobile-width: 320px;

$color-link-light-theme: #2b2b2f;
$color-link-dark-theme: #f2f2f2;

$color-headings-light-theme: #141417;
$color-headings-dark-theme: #fafafa;

$color-primary-text-light-theme: #5c5c5c;
$color-primary-text-dark-theme: #d2d2d2;

$color-secondary-text-light-theme: #6b6b6b;
$color-secondary-text-dark-theme: #c0c0c0;

$color-header-bg-light-theme: #fafafa;
$color-header-bg-dark-theme: #1f1f22;

$color-bg-light-theme: #fff;
$color-bg-dark-theme: #141417;
