.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: $color-header-bg-light-theme; 
  z-index: 1000;

  .dark-theme & {
    background-color: $color-header-bg-dark-theme; 
  }
}
.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  display: flex;
  width: 132px;
  height: 42px;
  align-items: center;
  cursor: pointer;
  font-family: $gilroy-bold;
  text-transform: uppercase;
  color: $color-link-light-theme; 
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;

  .dark-theme & {
    color: $color-link-dark-theme;
  }
}
.change-theme-button {
  border: 0;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}
.bulb-icon {
  width: 32px;
  height: 34px;
  stroke-width: 1.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;

  .dark-theme & .bulb-icon__light-stick {
    stroke: #fddd57;
  }
}
.bulb-icon__beams {
  stroke: transparent;

  .dark-theme & {
    stroke: #fddd57;
  }
}
.bulb-icon__outline { 
  fill: none;
  stroke: #2b2b2f;

  .dark-theme & {
    stroke: #e5e5e5;
  }
}
