section.hero.container
  .hero__content
    h1.hero__title.underline Junior front&#8209;end developer
    p.hero__description
      | Hi, here you can find the portfolio of my work. 
    button(type="submit" onclick="window.open('resume/sergey-kuzin.pdf')").button.primary-button Save resume
  .experience
    p.experience__title
      | I have experience with the following technologies:
    ul.experience__list
      li.experience__item HTML, PUG
      li.experience__item CSS, SCSS
      li.experience__item JavaScript, ES6+
      li.experience__item Browser API 
      li.experience__item NPM, GULP
      li.experience__item Photoshop, Figma
