.my-works {
  color: rgb(20, 20, 23);
  font-family: $gilroy-bold;
}
.my-works__title {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  & span {
    padding: 0 20px;
    background-color: $color-bg-light-theme;
    font-size: 20px;
    color: $color-headings-light-theme;

    .dark-theme & {
      background-color: $color-bg-dark-theme;
      color: $color-headings-dark-theme;
    }
  }
}
.my-works__title:after {
  content: "";
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  top: 46%;
  z-index: -1;
  background-color: #eff1f3;

  .dark-theme & {
    background-color: #eff1f3;
  }
}
.my-works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile-width-only {
    flex-direction: column;
  }
}
.my-works__item {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-bottom: 32px;
  padding: 16px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
  color: rgb(43, 43, 47);
  border-radius: 5px;
  background-color: #fff;

  .dark-theme & {
    background-color: #1f1f22;
  }

  &:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-6px);
    transition: all 0.2s ease-in-out;
  }

  @include mobile-width-only {
    width: 100%;
  }
}
.my-works__image {
  margin-bottom: 16px;
  flex-shrink: 0;
}
.my-works__description-wrapper {
  padding: 16px;
}
.my-works__implementation-list {
  margin-bottom: 20px;
  padding-left: 24px;
  list-style: disc;
  font-family: $inter-regular;
  font-size: 16px;
  color: rgb(92, 92, 92);
}
.my-works__project-title {
  position: relative;
  margin-bottom: 8px;
  font-family: $gilroy-bold;
  font-size: 40px;
  color: $color-headings-light-theme;
  text-decoration: none;

  .dark-theme & {
    color: $color-headings-dark-theme;
  }
}
.hover-underline:hover:after {
  content: "";
  position: absolute;
  height: 8px;
  bottom: 1px;
  right: 0;
  left: 0;
  background: linear-gradient(90deg,#473dfd,#fc55bc);
  opacity: .4;
  z-index: -1;
}
.my-works__implementation-item {
  color: $color-primary-text-light-theme;

  .dark-theme & {
    color: $color-primary-text-dark-theme;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.my-works__project-tested-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  font-family: $inter-regular;
  font-size: 16px;
  color: rgb(107, 107, 107);

  @include mobile-tablet-width-only {
    flex-direction: column;
  }
}
.my-works__project-tested-item {
  display: flex;
  margin-bottom: 8px;
  color: $color-secondary-text-light-theme;

  .dark-theme & {
    color: $color-secondary-text-dark-theme;
  }

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-image: url('../img/my-works/checked-icon.svg');
    background-repeat: no-repeat;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
.my-works__project-actions {
  @include mobile-width-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and(min-width: 493px) {
    justify-content: flex-start;
  }
}
.works__project-on-website {
  @include mobile-width-only {
    margin-bottom: 16px;
  }

  @media screen and(min-width: 750px) and (max-width: 974px) {
    margin-bottom: 16px;
  }
}
